# Binaries https://github.com/input-output-hk/cardano-node/pull/2727/checks?check_run_id=270007538
PATH_add bin
PATH_add script

# Node env vars
export NODE_HOME=$(expand_path .)
export NODE_TYPE="alonzo-blue"
export NODE_CONFIG_DIR="${NODE_HOME}/configuration/${NODE_TYPE}"

# Use by `cardano-cli`
export CARDANO_NODE_SOCKET_PATH="${NODE_HOME}/db/socket"
